<div class="container">

<div class="btn-toolbar">
  <div class="btn-group col-md-offset-3" role="group">
    <button [disabled]="loadingPage || !hasPreviousPage()" (click)="previousPage()"
    class="btn btn-secondary" style="font-size=3em">←</button>
    <div class="btn btn-secondary">Page {{getPage()}} of {{mealPage.totalPages}}</div>
    <button [disabled]="loadingPage || !hasNextPage()" (click)="nextPage()"
    class="btn btn-secondary" style="font-size=3em">→</button>
  </div>
  <img *ngIf="loadingPage"
  [style.visibility]="loadingPage ? 'visible' : 'hidden'"
  src="/assets/loading.gif">

  <div class="btn-group col-md-offset-3" role="group">
    <button (click)="createMealModal()" class="btn btn-secondary" style="font-size=3em">Create New</button>
  </div>
</div>

<div *ngFor="let meal of mealPage.items;">
  <cc-meal-item [meal]=meal (updateMeal)="updateMealModal($event)" class="col-md-offset-3"></cc-meal-item>
</div>

<cc-add-update-meal-modal (mealSave)="handleSaveRequest($event)" #addUpdateMeal></cc-add-update-meal-modal>
</div>
