<div class="modal fade" bsModal #addUpdateModal="bs-modal" [config]="{backdrop: 'static'}"
   tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{modalTitle}}</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="addUpdateModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <form name="form" [formGroup]="userForm" (ngSubmit)="save(userForm.value, userForm.valid)">
      <div *ngIf="saveRequest" class="form-group" [ngClass]="{ 'has-error': submitted && !userForm.controls.username.valid }">
        <label for="username">Username</label>
        <input type="text" (focusout)="checkUsernameAvailable(userForm.value.username)" class="form-control" name="username" formControlName="username" />
        <div *ngIf="submitted && !userForm.controls.username.valid" class="help-block">
          Username is required and must be less than 100 characters
        </div>
        <div *ngIf="usernameEntered && !usernameAvailable" class="help-block">
          Username is already used!
        </div>
      </div>
      <div *ngIf="saveRequest" class="form-group" [ngClass]="{ 'has-error': submitted && !userForm.controls.password.valid }">
        <label for="password">Initial Password</label>
        <input type="password" class="form-control" name="password" formControlName="password" [maxLength]="100"/>
        <div *ngIf="submitted && !userForm.controls.password.valid" class="help-block">
          Password is required and must be between 8 and 100 characters
        </div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': submitted && !userForm.controls.email.valid }">
          <label for="email">Email</label>
          <input type="email" (focusout)="checkEmailAvailable(userForm.value.email)"  class="form-control" name="email" formControlName="email" [maxLength]="300"/>
          <div *ngIf="submitted && !userForm.controls.email.valid" class="help-block">
            Email is required
          </div>
          <div *ngIf="emailEntered && !emailAvailable" class="help-block">
            Email is already used!
          </div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': submitted && !userForm.controls.desiredCalories.valid }">
        <label for="desiredCalories">Desired Daily Calories</label>
        <input type="number" class="form-control" name="desiredCalories"
        formControlName="desiredCalories"/>
        <div *ngIf="submitted && !userForm.controls.desiredCalories.valid" class="help-block">
          Must be a positive integer between 1 and 99999
        </div>
      </div>
      <div class="form-group">
        <div class="control-group info">
            <div class="controls">
              <button [disabled]="loading" class="btn btn-primary">Save User</button>
              <img *ngIf="loading" src="/assets/loading.gif">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
